html{
    height : 100%;
    background: radial-gradient(circle,#fff,#ccc);
}
#container{
    height: 600px;
    width: 750px;
    background-color:#9DD2EA;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 0px 0px #009de4;
    position:relative;
}
#score{
    background-color: #F1FF92;
    color: #888E5F;
    padding: 11px;
    position:absolute;
    left: 700px;
    box-shadow: 0px 4px 0px #9da853;
}
#fruitsContainer{
    width: 650px;
    height: 400px;
    margin: 50px auto 10px auto;
    background-color: white;
    box-shadow: 0px 4px #535aa8;
    position: relative;
    overflow: hidden;
}
#instruction{
    width:450px;
    height: 50px;
    background-color:#B481D9;
    margin: 10px auto;
    text-align: center;
    line-height: 45px;
    box-shadow: 0px 4px  #8153a8;
}
#startreset{
    width: 78px;
    padding: 10px;
    background-color: rgba(255,255,255,0.5);
    margin : 0 auto;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
}
#trialsLeft{
    width: 80px;
    padding: 10px;
    position: absolute;
    background-color: #F1FF92;
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2) ;
    display: none;
}
#gameOver{
    height: 200px;
    width: 500px;
    background: linear-gradient(#F3CA6B, #F3706C) ;
    color: white;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 170px;
    left: 145px;
    z-index: 2;
    display: none;
}
.life{
    width: 16px;
    height:16px;
    margin: 0 5px;
}
.fruit{
    display: none;
    position: absolute;
}
